 /* ====================================================================================================
Icons stylesheet :
We use a free open source service : "WeLoveIconFonts" by  @TimPietrusky (http://weloveiconfonts.com/)
======================================================================================================*/
$types: "brandico", "entypo", "fontawesome", "fontelico", "iconicfill", "iconicstroke", "maki", "openwebicons", "typicons", "zocial";

@each $type in $types {
    @import url(http://weloveiconfonts.com/api/?family=#{$type});
    /* #{($type)} */
    [class*="#{$type}-"]:before {
        font-family: '#{$type}', sans-serif;
    }
}

/* Fix OPW
----------------------------------------------------------*/
/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}
