/* ====================================================================================================
Classes : This library could be named helpers.css, here you will find all technical classes
(ex : .hide, .clearfix, .fix )
======================================================================================================*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
