 /* ==========================================================================
    OVCSS Functions library :
    Functions to use with EfficaCSS
    http://lukyvj.github.io/EfficaCSS
 ========================================================================== */
$version:"1.0.1";
$project-name : 'OVCSS - EfficaCSS';
$license:'MIT';
$license-url:'http://lucasbonomi.com/MIT';
/*! #{$project-name} v#{$version} | #{$license} License | #{$license-url} */

$root: '../';

$path-css: $root + 'css/';
$path-js: $root + 'js/';
$path-fonts: $root + 'fonts/';
$path-img: $root + 'images/';
$path-svg: $path-img + 'svg/';
$path-icons: $path-svg + 'svg_iconset/';

$path-gallery-2014: $path-img + 'my_holidays/';


/* font var
-----------------------------------------------------*/

$font-name: "MyAwesomeFont";
$font-fallback: "Helvetica";

$font-directory: $path-fonts + $font-name + "/";



