@import "bourbon/_bourbon.scss"; // Bourbon libraries
body {
    &:before {
        content: '';
        @include reset;
        background: $bb;
        background-size: 65%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    a {
        color: $color-theme;
    }

    > *{color: $white}
}

header {
    h1 {
        color: $color-theme;
        font-weight: bold;
        span {
<<<<<<< HEAD
=======
            font-weight: normal;
            color: #fff;
>>>>>>> 1f687ad5c1527cc04fd64f49438c8746532c674a
            display: inline-block;
            width:0;
            opacity: 0;
            @include transition(all  .4s ease);
        }
        &:hover {
            span {
                display: inline-block;
                width:auto;
                opacity: 1;
            @include transition(all  .4s ease);
            }
        }
    }
}

section {
    article {
        a {
            color: $color-theme;
        }
    }
}

/* <pre> / <code> */
code,
pre {
    font-family: monospace, serif;
    font-size: 1em;
    line-height: 1.1;
}



/* pre code
----------------------------------------------------------------------*/
pre, code{
  padding: 2px 4px;
  font-size: 90%;
  color: white;
  background-color: lighten($bb, 20%);
  border: 2px solid darken($bb, 5%);
  white-space: nowrap;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(black, .4);
}


pre code{
  border: none;
}
/* Sidebar
-----------------------------------------------------------------------------------------*/
$sidebar-width: 240px;
.menusign{
    display: block;
    width: 10px;
    line-height:.3;
    font-size: 2em;
    margin: .5em;
    br{height: 0}
}
.sidebar{
position: fixed;
z-index: 9999999;
left: 0;
top:0;
height: 100%;
width: $sidebar-width;
background: darken($black, 10%);
@include transition(left .3s ease);
#close{
    float: right;
    margin: -1em 1em;
    text-align: right;
}
&.closed{
    left: -$sidebar-width;
}

ul{
    padding: 0;
    margin: 0;

    li{
        width: 100%;
        float: left;
    }
}
}

/*
-----------------------------------------------------------------------------------------*/
.inna-link{
    display: inline;
    padding:0;
    margin:0;
    line-height: 0;

    &:hover{
        color: $red;
    }
}
