.link-1 {
  content: "http://google.com"; }

.link-2 {
  content: "http://facebook.com"; }

.paragraph-1 {
  content: "Hello World"; }

.paragraph-2 {
  content: "Hello World, I am long text !"; }

.paragraph-3 {
  content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, natus, accusamus doloribus consequatur ullam voluptatem in debitis voluptatum nam quaerat esse iusto enim provident iure rerum! Aperiam libero vel amet."; }
